body {
    /*background: #202020;
    background: #fff;*/
    background: linear-gradient(to right, #8a2be2 0%, #151515 15%, #151515 85%, #8a2be2 100%);
    margin: 0px;
    /*font-family: LemonMilk;*/
    text-shadow: 1px 1px 0px #8527DD, -1px -1px 0px #76D41E;
}
#dropdown {
    position: relative;
    display: inline-block;
}
#dropbutton {
    /*background: #202020;*/
    background: #151515;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: none;
    text-shadow: 1px 1px 0px #8527DD, -1px -1px 0px #76D41E;
}
#dropdown-content {
    display: none;
    position: absolute;
    /*background: #202020;*/
    background: #151515;
    min-width: 160px;
    box-shadow: 0px 5px 5px -3px #8a2be2;
    z-index: 1;
    opacity: 0;
}
#dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.2s;
}
#dropdown-content a:hover {
    /*background: #303030;*/
    background: #202020;
}
#dropdown:hover #dropdown-content {
    display: block;
    animation: load 0.3s forwards;
}
@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#dropdown:hover #dropbutton {
    /*background: #303030;*/
    background: #202020;
}
#navbutton {
    /*background: #202020;*/
    background: #151515;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0px;
    transition: all 0.3s;
}
.a {
    text-decoration: none;
}
.a:hover {
    box-shadow: 0px 5px 5px -3px #8a2be2;
}
nav {
    display: inline-flex;
    /*
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /**/
}
header {
    /*background: #202020;*/
    background: #151515;
    padding: 0px;
    margin: 0px;
    height: 55px;
    border-bottom: 1px solid #000;
    box-shadow: 0px 0px 10px #000;
    /**/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /**/
}
#navbutton:hover {
    /*background: #303030;*/
    background: #202020;
}
@font-face {
    font-family: LemonMilk;
    src: url("../Fonts/lemon_milk/LemonMilk.otf") format("opentype");
}
.af {
    font-family: LemonMilk;
}
footer {
    position: relative;
    bottom: -80px;
    margin: 0px;
    display: inline-flex;
    /*width: 100%;*/
    /*background: #202020;*/
    background: #151515;
    width: 100vw;
    border-top: 1px solid #000;
    box-shadow: -0px -0px 10px #000;
}
#footera {
    font-family: Arial;
    /*min-height: 200px;*/
    /*background: #202020;*/
    background: #151515;
    color: #acacac;
}
/*#picsv {
    position: absolute;
    right: 0%;
} old pic now replaced with linear-gradient for better perfomance*/
#welcome {
    /*margin: 0px 266px 0px 161px;*/
    /*margin: 0px 16.67vw 0px 16.67vw;*/
    margin: 2.09vh 15vw 0vh 15vw;
    padding: 0px;
    font-family: lemonmilk;
    position: relative;
    top: 55px;
}
::-webkit-scrollbar { 
    display: none; 
}
#w-heading {
    color: #ffffff;
    text-shadow: 2px 2px 0px #8527DD, -2px -2px 0px #76D41E;
    font-size: 54px;
    text-align: center;
}
#selfpic {
    /*border: 2px solid #fff;*/
    border: 1px solid #D1d5da;
    /*border-radius: 8px;*/
    border-radius: 4px;
    /*width: auto;*/
    width: 69.869vw;
    /*height: 212px;*/
    height: 27.78vh;
    /*box-shadow: 0px 0px 20px #fff;*/
    box-shadow: 0px 0px 20px #8a2be2;
}
.pic, a {
    /* prevents pics getting selected and dragged */
    /*user-drag: none;*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* selection color */
::selection {
    background-color: #8a2be2;
    color: #fff;
}
::-moz-selection {
    background-color: #8a2be2;
    color: #fff;
}
::-o-selection {
    background-color: #8a2be2;
    color: #fff;
}
::-ms-selection {
    background-color: #8a2be2;
    color: #fff;
}
::-webkit-selection {
    background-color: #8a2be2;
    color: #fff;
}
#onpic {
    color: #fff;
    font-size: 5vw;
    text-shadow: 2px 2px 0px #8527DD, -2px -2px 0px #76D41E, 0px 0px 50px #000;
    /*position: absolute;
    top: 50px;
    left: 265px;
    top: 6.55vh;
    left: 18.40vw;
    margin: auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}
#containself {
    position: relative;
    text-align: center;
    color: white;
}
#w-text {
    border: 2px solid #fff;
    border-radius: 8px;
    width: auto;
    box-shadow: 0px 0px 20px #fff;
    font-size: 16px;
    color: #fff;
    padding: 8px;
    /*padding-right: 0px;
    text-align: justify;
    text-justify: inter-word;*/
    background: #151515;
}
#w-quote {
    font-family: monospace;
    font-size: 38px;
    /*border: 2px solid #fff;*/
    border: 1px solid #D1D5DA;
    /*border-radius: 8px;*/
    border-radius: 4px;
    /*color: #fff;*/
    color: #fff;
    text-shadow: 1px 1px 0px #8527DD, -1px -1px 0px #76D41E, 0px 0px 5px #000;;
    /*padding: 8px;*/
    padding-left: 0.55vw;
    /*background: #151515;*/
    /*background: #f6f8fa;
    background: #202020*/
    background: #151515;
    /*width: 930px;*/
    max-width: 70.13vw;
    /*box-shadow: 0px 0px 20px #fff;*/
    box-shadow: 0px 0px 10px #8a2be2;
}
#selfglitched {
    width: 50%;
    height: 50%;
    border-radius: 4px;
    position: relative;
    float: right;
}
#quote {
    position: relative;
    padding: 4px;
    text-shadow: 1px 1px 2px #fff;
}
/*#pbar {
    border: 2px solid #000;
    border-radius: 0px;
}*/
progress {
    width: 70%;
    height: 25px;
    color: #8a2be2;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
    box-shadow: 0px 0px 10px #000;
}
progress::-webkit-progress-value {
    background: #8a2be2;
    box-shadow: 0px 0px 10px #8a2be2;
} 
progress::-moz-progress-bar {
    color: #8a2be2;
    background: #efefef;
    box-shadow: 0px 0px 10px #8a2be2;
}
#w-quote ol {
    position: relative;
    left: 100px;
    text-shadow: 1px 1px 0px #8527DD, -1px -1px 0px #76D41E;

}
#w-quote ol:before {
    content: counter(li)'.';
    counter-increment: li;
    position:absolute;
    right:98%;
}
#cli:before {
    content: counter(li)'.';
    counter-increment: li;
    position:absolute;
    right:98%;
}
#codeskills, th, td {
    /*border: 2px solid #fff;*/
    border-collapse: collapse;
    font-size: 40px;
    padding: 8px;
    color: #fff;
    text-align: center;
}
th, td {
    border: 1px solid #d1d5da;
}
#codeskills {
    position: relative;
    top: 6px;
    /*border-radius: 8px;*/
    border-radius: 4px;
    overflow: hidden;
    background: #151515;
    /*box-shadow: 0px 0px 0px 1px #fff, 0px 0px 20px #fff;*/
    box-shadow: 0px 0px 10px #8a2be2;
    /*width: 950px;*/
    width: 70vw;
    border-spacing: 0;
}
#videos iframe {
    display: inline;
    box-shadow: 0px 0px 20px #8a2be2;
}
#vright {
    position: relative; 
    left: 30px;
}
#videos {
    font-size: 42px;
}
#form {
	position: relative;
	padding: 8px;
	font-weight: bold;
    background: #151515;
    font-family: lemonmilk;
    font-size: 48px;
    color: #fff;
}
#form form input {
	padding: 0px;
	font-size: 48px;
	display: block;
}
#submit {
	cursor: pointer;
	position: relative;
    top: 8px;
    background: #404040;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 2px;
}
#welcome-text {
    font-family: lemonmilk;
    font-size: 48px;
    color: #fff;
    text-align: center;
}
#registerq {
    font-family: lemonmilk;
    font-size: 20px;
    position: relative;
    left: 35%;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 4px;
    background: #151515;
    box-shadow: 1px 1px 0px #8527DD, -1px -1px 0px #76D41E;
}
.signup {
    position: absolute;
    right: 15vw;
}
.signin {
    position: absolute;
    right: 361.2px;
}
#leftpics {
    width: 177px;
}
#right-topfade {
    /*width: 266px;*/
    /*width: 18.5vw;*/
    /*position: relative;*/
    /*left: 586px;*/
    position: relative;
    width: 15vw;
    /*left: 707px;*/
    /*left: 49.09vw;*/
    height: 55px;
    float: right;
    /*background: linear-gradient(to right, #404040, #202020);*/
    background: linear-gradient(to right, #151515, #8a2be2);/*#202020*/
}
#left-topfade {
    position: relative;
    width: 15vw;
    height: 55px;
    float: left;
    background: linear-gradient(to left, #151515, #8a2be2);/*#202020*/
}
#right-bottomfade {
    position: absolute;
    /*right: -56.73vw;*/
    right: 0vw;
    width: 15vw;
    height: 100px;
    float: right;
    background: linear-gradient(to right, #151515, #8a2be2);
}
#left-bottomfade {
    position: relative;
    width: 15vw;
    height: 100px;
    float: left;
    background: linear-gradient(to left, #151515, #8a2be2);/*#202020*/
}
#register-form, input {
    display: block;
    color: #fff;
    font-family: lemonmilk;
}
#register-form {
    position: relative;
    left: 12.29vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #fff;
    padding: 8px;
    width: 65.97vw;
    text-align: center;
}
#register-form input {
    position: relative;
    margin: auto;
    box-shadow: 1px 1px 0px #8527DD, -1px -1px 0px #76D41E;
    border: none;
    color: #000;
}
#register-form span {
    position: relative;
    left: -46px;
}
#signin-window {
    position: relative;
    left: 79.65vw;
    width: 16.66vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #fff;
    margin: 12px;
    height: auto;
}
#signin-window input {
    color: #000;
}
#signin-welcome {
    position: relative;
    left: 79.65vw;
    width: 16.66vw;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #fff;
    margin: 12px;
    height: auto;
}
#signin-welcome p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: lemonmilk;
}
#del {
    margin: auto;
}
#del:hover {
    box-shadow: inset 0px 0px 20px red;
    cursor: pointer;
    color: red;
    border: none
}
#del:active {
    border: none;
    background: #000;
    color: #000;
}
#loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #8a2be2;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    position: relative;
    top: 44.17%;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}